<div class="container-fluid" style="height: 70vh;">
  <div class="row h-100">
    <!-- LEFT PANEL -->
    <div class="col-md-3 h-100">
      <div class="card h-100">
        <div class="card-body p-2 h-100">
          <app-left-panel [hotelDetailData]="hotelData"></app-left-panel>
        </div>
      </div>
    </div>

    <!-- RIGHT PANEL -->
    <div class="col-md-9 d-flex flex-column h-100">
      <!-- Tabs (Top) -->
      <div class="card mb-2">
       <button type="button" class="btn-close position-absolute top-0 end-0 m-2"
        aria-label="Close" (click)="backToSearch()"></button>
        <div class="card-body p-2">
          <app-right-panel (tabChanged)="onTabChanged($event)"></app-right-panel>
        </div>
      </div>

      <!-- Widgets -->
      <div class="card mb-2" *ngIf="tabName === 'Home'">
        <div class="card-body p-2">
          <app-widgets [hotelDetailData]="hotelData"></app-widgets>
        </div>
      </div>

      <!-- CHART + MAP -->
      <div class="row flex-grow-1" *ngIf="tabName === 'Home'">
        <!-- Booking Overview -->
        <div class="col-md-6 h-100">
          <div class="card h-100">
            <div class="card-body p-2 h-100">
              <app-booking-overview class="h-100" [monthlyBookings]="selectedHotel"></app-booking-overview>
            </div>
          </div>
        </div>

        <!-- Map -->
        <div class="col-md-6 h-100">
          <div class="card h-100">
            <div class="card-body p-2 h-100">
              <app-map class="h-100 w-100" [latitude]="latitude" [longitude]="longitude"></app-map>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tabName === 'About'">
        <app-about></app-about>
      </div>
      <div *ngIf="tabName === 'Classification'">
        <app-classification></app-classification>
      </div>
      <div *ngIf="tabName === 'Products'">
        <app-products></app-products>
      </div>
      <div *ngIf="tabName === 'Terms'">
        <app-terms></app-terms>
      </div>
      <div *ngIf="tabName === 'Finance'">
        <app-finance></app-finance>
      </div>
      <div *ngIf="tabName === 'Notes'">
        <app-notes></app-notes>
      </div>
    </div>
  </div>
</div>